/* -------------- */
/*   !!!Hack!!!   */
/* -------------- */
/* 
  I don't like this solution, but I don't 
  know how to fix overflow issue from 
  absolute .hero-img__circle-second
*/
body,
html {
  overflow-x: hidden;
}

/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/plus-jakarta-sans-v8-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/plus-jakarta-sans-v8-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* colors */
  --clr-primary-400: hsl(341, 92%, 62%);
  --clr-primary-300: hsl(341, 100%, 83%);

  --clr-neutral-600: hsl(233, 54%, 16%);
  --clr-neutral-500: hsl(234, 25%, 52%);
  --clr-neutral-400: hsl(232, 10%, 56%);
  --clr-neutral-0: hsl(0, 0%, 100%);

  --clr-primary-gradient: linear-gradient(
    hsl(13, 100%, 64%),
    hsl(322, 87%, 55%)
  );
  --clr-secondary-gradient: linear-gradient(
    hsl(237, 100%, 64%),
    hsl(322, 87%, 55%)
  );

  /* typography */
  --fs-body-s: clamp(
    0.875rem,
    calc(0.875rem + ((1vw - 0.48rem) * 0.5952)),
    1rem
  );
  --fs-body-m: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.5952)), 1.125rem);
  --lh-body-m: 1.625rem;
  --fs-heading-s: clamp(
    1.25rem,
    calc(1.25rem + ((1vw - 0.48rem) * 1.1905)),
    1.5rem
  );
  --fs-heading-m: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 2.381)), 2rem);
  --fs-heading-l: clamp(
    2.5rem,
    calc(2.5rem + ((1vw - 0.48rem) * 4.7619)),
    3.5rem
  );

  --font-family: 'Plus Jakarta Sans', sans-serif;
  --fw-body: 500;
  --fw-heading: 800;

  --wrapper-padding: clamp(
    2rem,
    calc(2rem + ((1vw - 0.234375rem) * 11.9695)),
    4.94rem
  );
  --wrapper-max-width: 69.375rem;

  --header-pd-top: 1rem;
  --hero-pd-top: 2.37rem;
  --hero-title-spacer: 1.62rem;
  --hero-text-spacer: 1.5rem;
  --hero-circle-width: 15.8125rem;
  --hero-circle-border-radius: calc(var(--hero-circle-width) / 2);
  --courses-section-pd-block: 5.62rem 5rem;
  --courses-gap: 2.5rem;
  --course-gap: 1rem;
  --course-border-radius: 0.625rem;
  --course-pd-left: 1.78rem;
  --course-pd-right: 1.78rem;
  --course-pd: 3.5rem var(--course-pd-right) 2rem var(--course-pd-left);
  --course-icon-left: 1.75rem;
  --btn-pd: 0.625rem 1.5rem;
  --footer-pd-block: 2.25rem;
}

/* -------- */
/* Reset    */
/* -------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* ---------*/
/* Global   */
/* ---------*/

.wrapper {
  width: min(calc(100% - var(--wrapper-padding)), var(--wrapper-max-width));
  margin: auto;
}

body {
  font: var(--fw-body) var(--fs-body-m) / var(--lh-body-m) var(--font-family);
  color: var(--clr-neutral-400);
  background: linear-gradient(--clr-neutral-0, var(--clr-neutral-500));
}

.btn {
  --btn-clr: var(--clr-neutral-0);
  --btn-bg: var(--clr-neutral-600);
  --btn-hover-bg: var(--clr-neutral-500);
  --btn-hover-opacity: 1;
  display: inline-block;
  padding: var(--btn-pd);
  border-radius: 1.75rem;
  font: 700 var(--fs-body-m) / 1.75rem var(--font-family);
  text-decoration: none;
  color: var(--btn-clr);
  background: var(--btn-bg);
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  background: var(--btn-hover-bg);
  opacity: var(--btn-hover-opacity);
}

.logo {
  --logo-clr: var(--clr-neutral-600);
  --logo-fs: clamp(1.75rem, calc(1.75rem + ((1vw - 0.48rem) * 2.381)), 2.25rem);
  font: var(--fw-heading) var(--logo-fs) / normal var(--font-family);
  text-decoration: none;
  color: var(--logo-clr);
}

/* -------- */
/* Header   */
/* -------- */

.header {
  padding-top: var(--header-pd-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------------- */
/* Hero section     */
/* ---------------- */

.hero {
  padding-top: var(--hero-pd-top);
  display: grid;
  justify-items: stretch;
  gap: 4.38rem;
}

.hero__info {
  min-width: min(
    24.875rem,
    calc(24.875rem + ((1vw - 0.48rem) * 17.5476)),
    28.56rem
  );
  max-width: 28.56rem;
}

.hero__title {
  font: var(--fw-heading) var(--fs-heading-l) / normal var(--font-family);
  color: var(--clr-neutral-600);
  margin-bottom: var(--hero-title-spacer);
}

.hero__text {
  margin-bottom: var(--hero-text-spacer);
}

.hero__btn {
  --btn-clr: var(--clr-neutral-0);
  --btn-bg: var(--clr-primary-gradient);
  --btn-hover-bg: var(--clr-primary-gradient);
  --btn-hover-opacity: 0.5;
  padding: 0.94rem 2.34rem;
  line-height: 1.625;
}

.hero-img {
  position: relative;
}

.hero-img__circle {
  width: var(--hero-circle-width);
  aspect-ratio: 1;
  background: url(assets/hero.png) no-repeat top -19% center / 95% auto,
    var(--clr-primary-gradient);
  border-radius: var(--hero-circle-border-radius);
  margin: auto;
}

.hero-counter {
  display: grid;
  position: absolute;
  padding: 1rem 1.25rem;
  border-radius: 0.625rem;
  font: 700 var(--fs-body-s) / 1.75rem var(--font-family);
  background: var(--clr-neutral-0);
  box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
}

.hero-counter > :last-child {
  --hero-counter-value-fs: clamp(
    2rem,
    calc(2rem + ((1vw - 0.48rem) * 2.381)),
    2.5rem
  );
  font: 800 var(--hero-counter-value-fs) / normal var(--font-family);
  color: var(--clr-neutral-600);
}

.hero-counter--top-right {
  top: -1.5rem;
  right: 0.5rem;
}

.hero-counter--bottom-left {
  padding-right: 2.81rem;
  bottom: -1.5rem;
  left: 0.5rem;
}

/* ---------------- */
/* Courses section  */
/* ---------------- */

.courses-section {
  padding-block: var(--courses-section-pd-block);
}

.courses-section__title {
  padding: 1.5rem 1.78rem 2rem 1.78rem;
  font: var(--fw-heading) var(--fs-heading-m) / 1.3333 var(--font-family);
  color: var(--clr-neutral-0);
  background: var(--clr-primary-gradient);
  border-radius: var(--course-border-radius);
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.1875rem, 1fr));
  gap: var(--courses-gap);
}

.course {
  position: relative;
  min-height: 16.1875rem;
  display: grid;
  gap: var(--course-gap);
  grid-template-rows: auto 1fr auto;
  padding: var(--course-pd);
  background: var(--clr-neutral-0);
  border-radius: var(--course-border-radius);
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}

.course__icon {
  --icon: url(/assets/icon-animation.svg);
  position: absolute;
  top: 0;
  left: var(--course-icon-left);
  transform: translateY(-42%);
  width: 3.5rem;
  aspect-ratio: 1;
  background: var(--icon) no-repeat;
}

.course__icon--animation {
  --icon: url(/assets/icon-animation.svg);
}

.course__icon--business {
  --icon: url(/assets/icon-business.svg);
}

.course__icon--crypto {
  --icon: url(/assets/icon-crypto.svg);
}

.course__icon--design {
  --icon: url(/assets/icon-design.svg);
}

.course__icon--photography {
  --icon: url(/assets/icon-photography.svg);
}

.course__title {
  font: var(--fw-heading) var(--fs-heading-s) / 1.25 var(--font-family);
  color: var(--clr-neutral-600);
}

.course__btn {
  --btn-clr: var(--clr-primary-400);
  --btn-bg: none;
  --btn-hover-bg: none;
  --btn-hover-opacity: 0.5;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0;
}

/* ---------------- */
/* Footer           */
/* ---------------- */

footer {
  padding: var(--footer-pd-block) 0;
  background: var(--clr-neutral-600);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  --logo-clr: var(--clr-neutral-0);
}

.footer__btn {
  --btn-clr: var(--clr-neutral-0);
  --btn-bg: var(--clr-secondary-gradient);
  --btn-hover-bg: var(--clr-secondary-gradient);
  --btn-hover-opacity: 0.5;
}

/* ---------------- */
/* Media queries    */
/* ---------------- */

/* Tablet */

@media screen and (min-width: 48rem) {
  :root {
    --header-pd-top: 1.5rem;
    --hero-pd-top: 3.11rem;
    --hero-circle-width: 13.53375rem;
    --courses-section-pd-block: 10.04rem 5.38rem;
    --courses-gap: 3.5rem 0.63rem;
    --course-border-radius: 0.625rem;
    --course-pd-left: 2rem;
    --course-pd-right: 1.38rem;
    --course-icon-left:2rem;
  }

  .hero {
    grid-template-columns: auto minmax(16.1rem, 23.1925rem);
    justify-items: start;
    justify-content: space-between;
    align-items: center;
    gap: 2.08rem;
  }

  .hero-img {
    max-width: none;
    margin: 0;
  }

  .hero-img__circle {
    aspect-ratio: 0.5660714285714286;
    background: no-repeat url(assets/hero.png) bottom right / 110% auto,
      var(--clr-primary-gradient);
    margin: 0;
  }

  .hero-img__circle-second {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 200%;
    transform-origin: bottom;
    transform: translateY(calc(-1 * var(--hero-circle-border-radius)))
      rotate(45deg) translateY(var(--hero-circle-border-radius));
    background: var(--clr-secondary-gradient);
    border-radius: var(--hero-circle-border-radius);
  }

  .hero-counter--top-right {
    top: -0.86rem;
    right: -3.21rem;
  }

  .hero-counter--bottom-left {
    left: -2.83rem;
    bottom: -2.36rem;
  }

  .courses-section__title {
    padding: var(--course-pd);
  }
}

/* Desktop */
@media screen and (min-width: 80rem) {
  :root {
    --lh-body-m: 1.75rem;
    --courses-section-pd-block: 8.37rem 8.75rem;
    --courses-gap: 5rem 1.87rem;
    --course-gap: 1.5rem;
    --course-pd: 4rem 2rem 2.5rem 2rem;
    --course-border-radius: 0.9375rem;
    --btn-pd: 0.87rem 1.97rem;
    --footer-pd-block: 2rem;
    --hero-pd-top: 5.44rem;
    --hero-title-spacer: 1.81rem;
    --hero-text-spacer: 2.5rem;
    --hero-circle-width: 19.8125rem;
  }

  .hero__btn {
    padding: 1.09rem 1.97rem;
    line-height: 1.55;
  }

  .hero__info {
    /* Pushes the hero information a little higher off center */
    padding-bottom: 1.94rem;
  }

  .hero__text {
    /* :( There's no reason, just design */
    padding-right: 0.75rem;
  }

  .hero-counter {
    padding: 1.25rem 1.5rem;
    border-radius: 15px;
  }

  .hero-counter--top-right {
    top: 6.44rem;
    right: -7.39rem;
    width: 9.69rem;
  }

  .hero-counter--bottom-left {
    bottom: 6.13rem;
    left: -7.5rem;
    width: 12.44rem;
  }

  .courses-section__title {
    line-height: 1.25;
  }
}
